Semana_1/Ejercicio01/Ejercicio01/Debug/
Semana_1/EjercicioIntercambio/.vs/EjercicioIntercambio/v16/
Semana_1/EjercicioIntercambio/EjercicioIntercambio/Debug/
Semana_1/Ejercicio01/.vs/
Semana_1/Ejercicio01/Debug/
Semana_1/EjercicioIntercambio/Debug/
Semana_1/Multiplos7_5/.vs/
Semana_1/Multiplos7_5/Debug/
Semana_1/Multiplos7_5/Multiplos7_5/Debug/
Semana_1/Ejercicio01/Ejercicio01/Ejercicio01.vcxproj.user
Semana_1/Ejercicio01/Ejercicio01/Ejercicio01.vcxproj
Semana_1/Ejercicio01/Ejercicio01/Ejercicio01.vcxproj.filters
Semana_1/Ejercicio01/Ejercicio01.sln
Semana_1/Ejercicio02/.vs/
Semana_1/Ejercicio02/Debug/
Semana_1/Ejercicio02/Ejercicio02/Ejercicio02.vcxproj
Semana_1/Ejercicio02/Ejercicio02/Ejercicio02.vcxproj.filters
Semana_1/Ejercicio02/Ejercicio02/Ejercicio02.vcxproj.user
Semana_1/Ejercicio02/Ejercicio02/Debug/
Semana_1/Ejercicio02/Ejercicio02.sln

*.exe
*.pdb
*.ipch
*.ilk
*.log
*.obj
*.idb
*.tlog
*_.VC
*.db
*.db-shm
*.db-wal
*.opendb
*.recipe


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile



Semana_2/POO_Ejemplo1/.vs/POO_Ejemplo1/v16/
Semana_2/POO_Ejemplo2/.vs/POO_Ejemplo2/v16/
Semana_2/POO_Ejemplo1/POO_Ejemplo1/POO_Ejemplo1.vcxproj
Semana_2/POO_Ejemplo1/POO_Ejemplo1/POO_Ejemplo1.vcxproj.filters
Semana_2/POO_Ejemplo1/POO_Ejemplo1/POO_Ejemplo1.vcxproj.user
Semana_2/POO_Ejemplo2/POO_Ejemplo2/POO_Ejemplo2.vcxproj
Semana_2/POO_Ejemplo2/POO_Ejemplo2/POO_Ejemplo2.vcxproj.filters
Semana_2/POO_Ejemplo2/POO_Ejemplo2/POO_Ejemplo2.vcxproj.user
Semana_2/POO_Ejemplo1/POO_Ejemplo1.sln
Semana_2/POO_Ejemplo2/POO_Ejemplo2.sln
Semana_3/ObjetosDinamicos/ObjetosDinamicos/ObjetosDinamicos.vcxproj
Semana_3/ObjetosDinamicos/ObjetosDinamicos/ObjetosDinamicos.vcxproj.filters
Semana_3/ObjetosDinamicos/ObjetosDinamicos/ObjetosDinamicos.vcxproj.user
Semana_3/ObjetosDinamicos/.vs/ObjetosDinamicos/v16/.suo
Semana_3/ObjetosDinamicos/ObjetosDinamicos.sln
Semana_3/EjemploObjetosDinamicosVarios/EjemploObjetosDinamicosVarios/Debug/
Semana_3/EjemploObjetosDinamicosVarios/Debug/
Semana_4/BattleBotConsole/BattleBotConsole/Debug/
Semana_5/LanzadorDePelotas/LanzadorDePelotas/Debug/
Semana_5/ObjetosDinamicoWinForm/ObjetosDinamicoWinForm/Debug/
Semana_6/HerenciaAnimales/HerenciaAnimales/Debug/
