Semana_1/Ejercicio01/Ejercicio01/Debug/
Semana_1/EjercicioIntercambio/.vs/EjercicioIntercambio/v16/
Semana_1/EjercicioIntercambio/EjercicioIntercambio/Debug/
Semana_1/Ejercicio01/.vs/
Semana_1/Ejercicio01/Debug/
Semana_1/EjercicioIntercambio/Debug/
Semana_1/Multiplos7_5/.vs/
Semana_1/Multiplos7_5/Debug/
Semana_1/Multiplos7_5/Multiplos7_5/Debug/
